.closeInput {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  scale: 1;
}

.openInput {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  scale: 0.01;
}
